/* Structure de l'interface */
#wrapper {
	background-color : #121417;
	width: 1240px;
	height: 700px;
	margin: 0px;
	padding: 0px;
}

/*Structure du bandeau supérieur gauche avec dégradé*/
#bandeau {
	background: rgb(6,6,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(6,6,63,1) 0%, rgba(6,6,63,1) 60%, rgba(25,44,127,1) 96%, rgba(17,30,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,6,63,1)), color-stop(60%,rgba(6,6,63,1)), color-stop(96%,rgba(25,44,127,1)), color-stop(100%,rgba(17,30,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(6,6,63,1) 0%,rgba(6,6,63,1) 60%,rgba(25,44,127,1) 96%,rgba(17,30,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(6,6,63,1) 0%,rgba(6,6,63,1) 60%,rgba(25,44,127,1) 96%,rgba(17,30,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(6,6,63,1) 0%,rgba(6,6,63,1) 60%,rgba(25,44,127,1) 96%,rgba(17,30,89,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(6,6,63,1) 0%,rgba(6,6,63,1) 60%,rgba(25,44,127,1) 96%,rgba(17,30,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06063f', endColorstr='#111e59',GradientType=0 ); /* IE6-9 */
	width: 900px;
	height: 150px;
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Structure du bandeau supérieur droit (où on héberge le bouton "Back" avec dégradé*/
#back {
	background: rgb(12,12,127); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(12,12,127,1) 0%, rgba(12,12,127,1) 60%, rgba(35,64,178,1) 96%, rgba(30,55,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,12,127,1)), color-stop(60%,rgba(12,12,127,1)), color-stop(96%,rgba(35,64,178,1)), color-stop(100%,rgba(30,55,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(12,12,127,1) 0%,rgba(12,12,127,1) 60%,rgba(35,64,178,1) 96%,rgba(30,55,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(12,12,127,1) 0%,rgba(12,12,127,1) 60%,rgba(35,64,178,1) 96%,rgba(30,55,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(12,12,127,1) 0%,rgba(12,12,127,1) 60%,rgba(35,64,178,1) 96%,rgba(30,55,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(12,12,127,1) 0%,rgba(12,12,127,1) 60%,rgba(35,64,178,1) 96%,rgba(30,55,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c7f', endColorstr='#1e3799',GradientType=0 ); /* IE6-9 */
	width: 340px;
	height: 150px;
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Structure de la page principale*/
#pagePort {
	background-color: #121417;
	width: 900px;
	height: 500px;
	/*overflow: auto;*/
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}


/*Structure de la case qui héberge le logo IBM et le texte des solutions*/
#logo {
	background-color: #121417;
	width: 340px;
	height: 500px;
	/*overflow: auto;*/
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Structure du bandeau inférieur gauche avec dégradé*/
#videGauche {
	background: rgb(17,30,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(17,30,89,1) 0%, rgba(25,44,127,1) 4%, rgba(6,6,63,1) 40%, rgba(6,6,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,30,89,1)), color-stop(4%,rgba(25,44,127,1)), color-stop(40%,rgba(6,6,63,1)), color-stop(100%,rgba(6,6,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(17,30,89,1) 0%,rgba(25,44,127,1) 4%,rgba(6,6,63,1) 40%,rgba(6,6,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(17,30,89,1) 0%,rgba(25,44,127,1) 4%,rgba(6,6,63,1) 40%,rgba(6,6,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(17,30,89,1) 0%,rgba(25,44,127,1) 4%,rgba(6,6,63,1) 40%,rgba(6,6,63,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(17,30,89,1) 0%,rgba(25,44,127,1) 4%,rgba(6,6,63,1) 40%,rgba(6,6,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111e59', endColorstr='#06063f',GradientType=0 ); /* IE6-9 */
	width: 900px;
	height: 50px;
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Structure du bandeau inférieur droit avec dégradé*/
#videDroite {
	background: rgb(30,55,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,55,153,1) 0%, rgba(35,64,178,1) 4%, rgba(12,12,127,1) 40%, rgba(12,12,127,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,55,153,1)), color-stop(4%,rgba(35,64,178,1)), color-stop(40%,rgba(12,12,127,1)), color-stop(100%,rgba(12,12,127,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,55,153,1) 0%,rgba(35,64,178,1) 4%,rgba(12,12,127,1) 40%,rgba(12,12,127,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,55,153,1) 0%,rgba(35,64,178,1) 4%,rgba(12,12,127,1) 40%,rgba(12,12,127,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,55,153,1) 0%,rgba(35,64,178,1) 4%,rgba(12,12,127,1) 40%,rgba(12,12,127,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,55,153,1) 0%,rgba(35,64,178,1) 4%,rgba(12,12,127,1) 40%,rgba(12,12,127,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3799', endColorstr='#0c0c7f',GradientType=0 ); /* IE6-9 */
	width: 340px;
	height: 50px;
	font-family: arial;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Paramètres du texte normal */
p {
	padding: 10px;
}

/*Structure de html, avec marges nulles*/
html {
	margin: 0;
	padding: 0;
}


/*Structure de body avec le fond et la police*/
body {
	margin: 0px;
	padding: 0px;
	background-color: #121417; /*DarkGrey*/
	font-family: Arial, sans-serif;
	font-size: 100%;
}

/*structure du titre h1*/
h1 {
	font-size: 200%;
	color: white;
	text-align: center;
}

/*structure du titre h2*/
h2 {
	font-size: 100%;
	color: white;
	text-align: align-left;
}

/*structure de la police h2 à l'intérieur du bandeau*/
.bandeau {
	padding-left: 1%;
}

/*structure de la police h2 des titres des solutions dans les pages industries*/
.solutionTitle {
	font-size: 130%;
	color: blue;
	padding-left: 0px;
	text-align: Center;
}

div.static {
	position: static;
}

div.scroll {
	height: 80%;
	overflow: auto;
}

p, ul, li, td {
	color: black;
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
}
/* a : paramètres des labels */
a:link {
	color: green;
	text-decoration: underline;
}

a:visited {
	color: gray;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active, a:focus {
	color: red;
}

/*Pour que le tableau prenne toute la taille des conteneurs*/
table {
	border-collapse;
	width: 100%;
	height: 100%;
}

/* Paramètres des cases des tableaux (voir les noms des classes pour comprendre) */
td

.mainPageCell {
	font-family: arial;
	width: 100%;
	padding: 0px;
	text-align: center;
}

.industriesCell {
	font-family: arial;
	width: 100%;
	padding: 0px;
	text-align: center;
}

.solutionsCell {
	font-family: arial;
	width: 100%;
	padding: 0px;
	text-align: center;
}

.solutionsCellLogo {
	background: rgb(130,140,149); /* Old browsers */
	font-family: arial;
	width: 100%;
	padding: 5px;
	text-align: center;
}

caption {
	font-family: sans-serif;
}

img.thumbnail {
	width: 45px;
	height: 45px;
	vertical-align: middle;
}

/* ===============================
 * [Object] Modal
 * Sert à afficher les pop-ups de contact et more information
 * =============================== */
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	background: rgba(0, 0, 0, .9);
	transition: opacity .25s ease;
}

.modal__bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

.modal-state {
	display: none;
}

.modal-state:checked+.modal {
	opacity: 1;
	visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
	top: 0;
}

.modal__inner {
	transition: top .25s ease;
	position: absolute;
	top: -20%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	margin: auto;
	overflow: auto;
	background: #fff;
	border-radius: 5px;
	padding: 1em 2em;
	height: 50%;
}

.modal__close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.1em;
	height: 1.1em;
	cursor: pointer;
}

.modal__close:after, .modal__close:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 1.5em;
	background: #ccc;
	display: block;
	transform: rotate(45deg);
	left: 50%;
	margin: -3px 0 0 -1px;
	top: 0;
}

.modal__close:hover:after, .modal__close:hover:before {
	background: #aaa;
}

.modal__close:before {
	transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.modal__inner {
		width: 90%;
		height: 90%;
		box-sizing: border-box;
	}
}

/* ===============================
 * [Object] Buttons
 * Décrit tous les boutons de l'application
 * =============================== */
body {
	padding: 1%;
	font: 1/1.5em sans-serif;
	text-align: center;
}

.buttonMainPage {
	cursor: pointer;
	background: rgb(130,140,149); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(130,140,149,1) 49%, rgba(12,14,17,1) 100%, rgba(40,52,59,1) 100%, rgba(181,189,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(49%,rgba(130,140,149,1)), color-stop(100%,rgba(12,14,17,1)), color-stop(100%,rgba(40,52,59,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
	width: 98%;
	display: inline-block;
	padding: 0.2em 1%;
	border-radius: 0px;
	text-align: left;
}

.buttonMainPage:hover, .buttonMainPage:focus {
	background: rgb(212,224,234); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(212,224,234,1) 0%, rgba(103,122,131,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,224,234,1)), color-stop(100%,rgba(103,122,131,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( start * Sert surtout pour les lablel-boutonsColorstr='#d4e0ea', endColorstr='#677a83',GradientType=1 ); /* IE6-9 */
}

.buttonMainPage:active {
	background: rgb(130,140,149); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(130,140,149,1) 36%, rgba(40,52,59,1) 96%, rgba(40,52,59,1) 100%, rgba(181,189,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(36%,rgba(130,140,149,1)), color-stop(96%,rgba(40,52,59,1)), color-stop(100%,rgba(40,52,59,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.buttonIndustries {
	cursor: pointer;
	background: rgb(130,140,149); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(130,140,149,1) 49%, rgba(12,14,17,1) 100%, rgba(40,52,59,1) 100%, rgba(181,189,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(49%,rgba(130,140,149,1)), color-stop(100%,rgba(12,14,17,1)), color-stop(100%,rgba(40,52,59,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(130,140,149,1) 49%,rgba(12,14,17,1) 100%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
	width: 98%;
	display: inline-block;
	padding: 2.5em 1%;
	border-radius: 0px;
	text-align: left;
}

.buttonIndustries:hover, .buttonIndustries:focus {
	background: rgb(212,224,234); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(212,224,234,1) 0%, rgba(103,122,131,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,224,234,1)), color-stop(100%,rgba(103,122,131,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(212,224,234,1) 0%,rgba(103,122,131,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e0ea', endColorstr='#677a83',GradientType=1 ); /* IE6-9 */
}

.buttonIndustries:active {
	background: rgb(130,140,149); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(130,140,149,1) 36%, rgba(40,52,59,1) 96%, rgba(40,52,59,1) 100%, rgba(181,189,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(36%,rgba(130,140,149,1)), color-stop(96%,rgba(40,52,59,1)), color-stop(100%,rgba(40,52,59,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(130,140,149,1) 36%,rgba(40,52,59,1) 96%,rgba(40,52,59,1) 100%,rgba(181,189,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.button_back {
	cursor: pointer;
	background: transparent;
	display: inline-block;
	padding: 0em;
	color: #fff;
	border-radius: 0px;
	text-align: center;
}

.button_green {
	cursor: pointer;
	background: #27ae60;
	display: inline-block;
	padding: .5em 1em;
	color: #fff;
	border-radius: 3px;
}

.button_green:hover, .button_green:focus {
	background: #2ecc71;
}

.button_green:active {
	background: #27ae60;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.button_blue {
	cursor: pointer;
	background: #2980b9;
	display: inline-block;
	padding: .5em 1em;
	color: #fff;
	border-radius: 3px;
}

.button_blue:hover, .button_blue:focus {
	background: #3498db;
}

.button_blue:active {
	background: #2980b9;
}

p img {
	max-width: 200px;
	height: auto;
	float: left;
	margin: 0 1em 1em 0;
}
